@import url('https://fonts.googleapis.com/css?family=Montserrat|Dancing+Script');

body {
  background-color: #bfc7ff;
  margin: 0 auto;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
